* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

body {
    font-family: 'StratosSkyeng', sans-serif;
}

/* Напиши свой CSS-код тут */
.card{
    /* Back */
    position: absolute;
    width: 358px;
    height: 530px;
    left: 556px;
    top: 231px;
    box-sizing: border-box;
    border: 2px solid rgb(54, 48, 98);
    border-radius: 25px;
    display: flex;
    justify-content: center;

    background: rgb(245, 245, 245);
}
h1{
    position: absolute;
    width: 297px;
    height: 30px;
    /* left: 586px; */
    top: 320px;
    color: rgb(54, 48, 98);
    font-family: StratosSkyeng;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.img-top{
    /* image 1 */
    position: absolute;
    width: 298px;
    height: 262px;
    /* left: 586px; */
    top: 30px;
    box-sizing: border-box;
    border: 2px solid rgb(54, 48, 98);
    border-radius: 25px;
}
p{
    position: absolute;
    width: 297px;
    height: 90px;
    /* left: 586px; */
    top: 355px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: rgb(54, 48, 98);
    font-family: StratosSkyeng;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.card__button {
    /* Rectangle 1 */
    position: absolute;
    width: 72px;
    height: 36px;
    left: 26px;
    top: 465px;
    /* Это чтобы при наведении на кнопку курсор мыши менялся на руку */
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid rgb(54, 48, 98);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(249, 148, 23);
}

/* Эффект наведения курсора мыши на элемент с классом card__button */
.card__button:hover {
    /* Прозрачность всего элемента  - такое значение говорит браузеру показывать только 70% элемента по прозрачности */
    opacity: .7;
}

.icon {
    /* Vector */
    position: absolute;
    width: 20px;
    height: 18px;
    /* left: 612px;
    top: 704px; */
    color: #363062;
}